@font-face {
    font-family: 'primary';
    src: url('https://andz7z.github.io/assets/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'secondary';
    src: url('https://andz7z.github.io/assets/fonts/GreatVibes-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'primary', serif;
    color: #f8f7f5;
    background-color: #cfb7af;
    overflow-x: hidden;
}

section {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #dad5d3;
}

html {
  scroll-behavior: smooth;
}
